.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 500px 50px 50px 70px 310px 310px 310px 310px;
  grid-row-gap: 10px;
  grid-template-areas: 
  "pfp headertext headertext info"
  "skilltext skilltext skilltext skilltext"
  "skills skills skills skills"
  "exptext exptext exptext exptext"
  "dndrusimg dndrusimg dndrustext dndrustext"
  "ddtext ddtext ddimg ddimg"
  "gdimg gdimg gdtext gdtext"
  "jdtext jdtext jdimg jdimg"
  ;

}

.link{
  margin-top: 0;
  color: blue;
  text-decoration: underline;
}
.link:hover{
  color: darkblue;
}

.pfp{
  grid-area: pfp;
}
.pfpimg{
  border-radius: 150px;
  border-style: solid ;
  border: 5px;
  border-color: black;
}
.headertext{
  font-size: 26px;
  text-align: center;
  grid-area: headertext;
}
.skillh2{
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
}
.skilltext{
  display: flex;
  justify-content: center;
  grid-area: skilltext;
}
.exph2{
  margin-bottom: 10px;
  font-size: 35px;
  text-decoration: underline;
  font-weight: bold;
}
.exptext{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  grid-area: exptext;
}
.info{
  font-size: 20px;
  grid-area: info;
}
.skills{
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  grid-area: skills;
}
.ddimg{
  display: flex;
  justify-content: center;
  grid-area: ddimg;
}
.ddtext{
  font-size: 20px;
  grid-area: ddtext;
}
.dndrustext{
  font-size: 20px;
  grid-area: dndrustext;
}
.dndrusimg{
  display: flex;
  justify-content: center;
  grid-area: dndrusimg;
}
.jdimg{
  display: flex;
  justify-content: center;
  grid-area: jdimg;
}
.jdtext{
  font-size: 20px;
  grid-area: jdtext;
}
.gdimg{
  display: flex;
  justify-content: center;
  grid-area: gdimg;
}
.gdtext{
  font-size: 20px;
  grid-area: gdtext;
}




.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
